body{
    background: #f8f9fa;
}

/* Estilos para la sección de tagline con imagen de fondo */
.hero-tagline {
    background-image: url('../img/bg.jpg'); /* Ajusta la ruta a tu imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el div */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    /* Puedes añadir una altura mínima si el contenido es corto, para que la imagen se vea bien */
    min-height: 500px; /* Ejemplo de altura mínima */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para el texto para mejor legibilidad sobre la imagen */
}