<!-- your html code here -->


<!-- *Creamo <nav> para iniciar la seccion de navegacion
     *CLASES:
        - navbar: clase base para crear un navbar en boostrap
        - navbar-expand-md: Hamburgesa responsive ventana < mediana
        - navbar-dark: Esquema color oscuro
        - bg-dark: fondo socuro-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">


        <!-- Creamos <a> ya que es un hipervinculo a la pagina principal
            CLASES:
                - navbar-brand: estiliza el enlace--> 
        <a class="navbar-brand" href="#">Start Bootstrap</a> 
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span> 
            </button>
        <div class="collapse navbar-collapse" id="navbarNav">


            <!-- *ms-auto: movia todo hacia la derecha
                 *mb-2: le da un margin bottom a las opciones
                 *mb-lg-0: reescribe margin bottom en pantallas grandes (recomendado para espacios mas responsivos)-->
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item"> <a class="nav-link" href="#about">About</a> </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
